# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

#My added files
#Store some keys in .env file
.env

#temp folder - test some js request\etc
test_js

#VScode files
.vscode
